.section {
  max-width: 1366px;
  margin-inline: auto;
  padding: 40px clamp(16px, 1.5vw, 28px);
}

.sectionFooter {
  padding: 0 clamp(16px, 1.5vw, 28px) 40px;
}

@media (max-width: 860px) {
  .section {
    padding: 40px clamp(16px, 1.5vw, 28px);
  }

  .sectionFooter {
    padding: 0 clamp(16px, 1.5vw, 28px) 40px;
  }
}
