.section {
  max-width: 1366px;
  margin-inline: auto;
  padding: 10px 0;
}

.sectionFooter {
  padding: 0 clamp(16px, 1.5vw, 28px) 40px;
}

@media (max-width: 1365px) {
  .section {
    padding-inline: 16px;
  }
}
